/* Resetowanie stylów domyślnych */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Globalne style */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* Stylizacja nagłówka */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

header h1 {
  margin: 0;
}

/* Stylizacja nawigacji */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

/* Stylizacja formularza rejestracyjnego */
#registrationForm {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#registrationForm h2 {
  text-align: center;
  margin-bottom: 20px;
}

#registrationForm label {
  display: block;
  margin-bottom: 5px;
}

#registrationForm input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#registrationForm button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
}

#registrationForm button:hover {
  background-color: #45a049;
}
