<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesLogin.css">
  <title>Logowanie i Rejestracja</title>
</head>

<header>
  <h1>Forum Internetowe</h1>
  <nav sec:authorize="!isAuthenticated()">
    <ul>
      <li><a href="/">Strona główna</a></li>
      <li><a href="#">Forum</a></li>
      <li><a href="/login">Zaloguj się</a></li>
      <li><a href="/registration">Zarejestruj się</a></li>
      <li><form method="POST" th:action="@{/search}" th:object="${searchValue}">
        <label for="searchValue">Szukaj:</label>
        <input type="text" id="searchValue" name="searchValue">
        <input type="submit" value="Szukaj">
      </form>
      </li>
    </ul>
  </nav>
  <nav sec:authorize="isAuthenticated()">
    <ul>
      <li><a href="/">Strona główna</a></li>
      <li><a href="#">Forum</a></li>
      <li><a href="/new">Nowy post</a></li>
      <li><form method="POST" th:action="@{/search}" th:object="${searchValue}">
        <label for="searchValue">Szukaj:</label>
        <input type="text" id="searchValue" name="searchValue">
        <input type="submit" value="Szukaj">
      </form>
      </li>
    </ul>
  </nav>
</header>

<body>

<!-- Formularz Logowania -->
<form id="registrationForm" method="POST" th:action="@{/login}">
  <h2>Logowanie</h2>
  <label for="username">Nazwa użytkownika:</label>
  <input type="text" id="username" name="username" required>

  <label for="password">Hasło:</label>
  <input type="password" id="password" name="password" required>

  <button type="submit">Zaloguj się</button>
</form>

</body>
</html>
