<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="newTopicStyles.css">
  <title>Nowy Wątek</title>
</head>

<header>
  <h1>Forum Internetowe</h1>
  <nav sec:authorize="!isAuthenticated()">
    <ul>
      <li><a href="/">Strona główna</a></li>
      <li><a href="#">Forum</a></li>
      <li><a href="/login">Zaloguj się</a></li>
      <li><a href="/registration">Zarejestruj się</a></li>
      <li>
        <form method="POST" th:action="@{/search}" th:object="${searchValue}">
          <label for="searchValue">Szukaj:</label>
          <input type="text" id="searchValue" name="searchValue">
          <input type="submit" value="Szukaj">
        </form>
      </li>
    </ul>
  </nav>
  <nav sec:authorize="isAuthenticated()">
    <ul>
      <li><a href="/">Strona główna</a></li>
      <li><a href="#">Forum</a></li>
      <li><a href="/new">Nowy post</a></li>
      <li>
        <form method="POST" th:action="@{/search}" th:object="${searchValue}">
          <label for="searchValue">Szukaj:</label>
          <input type="text" id="searchValue" name="searchValue">
          <input type="submit" value="Szukaj">
        </form>
      </li>
    </ul>
  </nav>
</header>

<body>

<h2>Utwórz Nowy Wątek</h2>

<form id="newPost" method="POST" th:action="@{/new}">
  <label for="title">Tytuł:</label>
  <input type="text" id="title" name="title" required><br>

  <label for="content">Treść:</label>
  <textarea id="content" name="content" rows="4" required></textarea><br>

  <input type="submit" value="Utwórz Wątek">
</form>

</body>
</html>
